@import "assets/styles/1_settings/settings-project";
@import "assets/styles/2_tools/tools-mq";
@import "assets/styles/2_tools/tools-paddings";
@import "assets/styles/2_tools/tools-boxes";

.v-select-fund {

    @include globalPadding;

    &__headline {
        margin-bottom: $spacing-default * 13/10;
        color: $color-grey;
        font-weight: $font-medium;
    }

    &__wrapper-headline {
        margin-bottom: $spacing-default * 23/10;
        text-align: center;
    }

    &__introduction {
        color: $color-font-paragraph;
        font-weight: normal;
    }

    &__wrapper-products {
        
        @include boxContent;
    }

    &__wrapper-btn {
        border-top: 1px solid $color-grey-lighter;
        padding-top: $spacing-default * 2;
        padding-bottom: $spacing-default * 2;
        display: flex;
        justify-content: center;
    }
}