.u-arrow {

    &__back {

        @include globalPadding;

        position: absolute;
        padding-top: unset;
        left: 0;
        top: $spacing-default * 3/2;
        margin-top: $spacing-default * 4;
        cursor: pointer;
        border: 0;
        outline: 0;
        z-index: 100;
        background-color: transparent;
    }
}