html {
    min-height: 100%;
    font-size: $font-size-base;
    position: relative;
    -webkit-font-smoothing: antialiased;
    line-height: $line-height-default;
}

body {
  background-color: $color-grey-lighter;
  color: $color-grey;
}

p {
    font-size: $font-size-base;
}

input {
    color: $color-grey;
    font-family: $font-family;
}
