@import "assets/styles/1_settings/settings-project";
@import "assets/styles/2_tools/tools-mq";
@import "assets/styles/2_tools/tools-paddings";

.c-modal-global {

    &__overlay {
        background-color: rgba($color-black, 0.7);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 101;

        &--no-overlay {
            background-color: unset;
        }
    }

    &__wrapper-height {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacing-default * 2;
    }

    &__wrapper {
        max-width: 800px;
        width: 100%;
        height: fit-content;
    }

    &__wrapper-content {
        background: $gradient-default;
        padding: ($padding-default * 3) ($padding-default * 3) $spacing-default * 10 ($padding-default * 3);
        overflow: hidden;
        position: relative;
        color: $color-white;
        box-shadow: $shadow-big;
        border-radius: $radius-small;

        &--reset-margin-bottom {
            padding-bottom: $spacing-default * 4;
        }

        &--reset-attribute {
            background: unset;
            box-shadow: unset;
            padding: unset;
        }
    }
}
