@import "assets/styles/1_settings/settings-project";
@import "assets/styles/2_tools/tools-mq";
@import "assets/styles/2_tools/tools-paddings";

.c-modal-global {

    &__overlay {
        display: flex;
        justify-content: center;
        background-color: rgba($color-white, 0.9);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100%;
        z-index: 101;
        padding: $spacing-default * 5;
    }

    &__wrapper {
        max-width: 800px;
        width: 100%;
        height: fit-content;
    }
}
