@import "assets/styles/1_settings/settings-project";
@import "assets/styles/2_tools/_tools-elements-fund-account";
@import "assets/styles/2_tools/tools-boxes";

.c-obtaning-tokens {

    @include elementsFundAccount;

    &__wrapper-options {
        text-align: center;

        @include boxContent(true);
        position: relative;
        top: $spacing-default * 20;
        margin-bottom: $padding-default;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__btn {
        display: block;
        margin-bottom: $spacing-default * 2;
    }

    &__headline {
        font-weight: normal;
        display: block;
        text-align: center;
        margin-bottom: $spacing-default * 5;
    }

    &__error {
        font-size: $font-size-micro;
        color: $color-red;
    }
}
