@import "assets/styles/2_tools/tools-mq";
@import "assets/styles/1_settings/settings-project";
@import "assets/styles/2_tools/_tools-elements-fund-account";
@import "assets/styles/2_tools/tools-paddings";

.c-balance {
    @include elementsFundAccount;

    &__wrapper {
        padding: ($spacing-default * 3) ($spacing-default * 2) 0;
        margin-bottom: $spacing-default * 3;
        background-color: $color-primary;
        color: $color-white;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: $spacing-default * 39;
    }

    &__wrapper-content {
        @include globalPadding;

        justify-content: space-around;
        display: flex;
    }

    &__headline {
        margin: 0 auto ($spacing-default * 2 / 10);
        color: $color-grey;
        font-weight: $font-medium;
        text-align: center;
        // to check
        position: fixed;
        color: $color-white;
        width: 100%;
        top: $spacing-default * 4;
        z-index: 1000;
        z-index: 1;
        left: 0;
    }

    &__pikto-bg {
        position: absolute;
        top: -$spacing-default * 10;
        left: 0;
        opacity: 0.1;
        width: 100%;
    }
}
