@mixin globalPadding($value: $padding-default) {
    margin-left: $value;
    margin-right: $value;
    padding-bottom: $value;
    padding-top: $value * 2;

    @include mq($from: tablet) {
        max-width: $spacing-default * 74 - $padding-default * 2;
        margin-left: auto;
        margin-right: auto;
    }
}
