@mixin elementsFundAccount {

    &__wrapper-balance {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: $spacing-default * 4;
        margin-right: $spacing-default * 4;
        position: relative;
        margin-top: $spacing-default * 7;
    }

    &__label {
        color: $color-white;
        font-weight: $font-medium;
        font-size: $font-size-h4;
    }

    &__balance {
        border: 0;
        outline: 0;
        padding: $spacing-default;
        font-size: $font-size-xl;
        text-align: center;
    }

    &__info-balance {
        font-size: $font-size-micro;
        color: $color-secondary;  
        display: flex;
        justify-content: flex-start;
        position: absolute;
        width: 100%;
        padding: 0 $spacing-default * 3;
    }

    &__icon-info {
        margin-right: $spacing-default / 2;
        margin-top: $spacing-default / 4;
    }
}
