.o-btn {
    
    @include btn;
    background-color: $color-secondary;
    font-size: $font-size-base;
    font-weight: bold;
    padding: $spacing-default * 15/10 $spacing-default * 4 $spacing-default * 14/10;
    border: 1px solid $color-secondary;
    width: fit-content;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        color: $color-secondary;
        background-color: $color-white;
    }

    &[disabled],
    &--disabled {
        background-color: $color-grey-light;
        cursor: not-allowed;

        &:hover {
            opacity: unset;
        }
    }

    &--wide {
        padding-left: $spacing-default * 8;
        padding-right: $spacing-default * 8;
    }

    &--basic {
        background-color: transparent;
        color: $color-grey;
        border: unset;
        font-size: $font-size-h4;
    }

    &--cancel {
        opacity: 0.5;
    }

    > svg {
        width: 14px;
        height: 14px;
        margin-right: $spacing-default;
    }

    &--blue {
        background-color: $color-blue;
        border: 1px solid $color-blue;

        &:hover {
            color: $color-white;
            background-color: $color-blue;
        }
    }
}
