.o-btn {
    background-color: $color-black;
    border: 0;
    color: $color-white;
    padding: $spacing-default;
    transition: $transition-default;
    cursor: pointer;
    outline: 0;
    font-size: $font-size-h4;
    text-align: center;
    box-shadow: $shadow-default;

    &:hover {
        opacity: 0.7;
    }

    &--reverse {
        background: transparent;
        color: $color-black;
        border: 1px solid $color-black;
    }

    &--wide {
        width: 100%;
    }

    &[disabled],
    &--disabled {
        background-color: $color-grey-light;
        cursor: not-allowed;

        &:hover {
            opacity: unset;
        }
    }

    &--block {
        display: block;
    }

    > svg {
        width: 14px;
        height: 14px;
        margin-right: $spacing-default;
    }
}
