.o-btn {
    
    @include btn;
    background-color: $color-secondary;
    font-size: $font-size-base;
    padding: $spacing-default * 15/10 $spacing-default * 4;
    border: 1px solid $color-secondary;
    width: fit-content;
    text-transform: uppercase;

    &:hover {
        color: $color-secondary;
        background-color: $color-white;
    }

    &[disabled],
    &--disabled {
        background-color: $color-grey-light;
        cursor: not-allowed;

        &:hover {
            opacity: unset;
        }
    }

    &--block {
        display: block;
    }

    > svg {
        width: 14px;
        height: 14px;
        margin-right: $spacing-default;
    }
}
