@import "assets/styles/1_settings/settings-project";
@import "assets/styles/2_tools/tools-paddings";

.v-fund-account {

    @include globalPadding;

    margin-bottom: $spacing-default * 3;

    &--error {
        text-align: center;
    }

    &__icon {
        margin-bottom: $spacing-default * 3;
    }
}
