@import "assets/styles/1_settings/settings-project";
@import "assets/styles/2_tools/tools-mq";
@import "assets/styles/2_tools/tools-paddings";

.v-products {

    @include globalPadding;

    &__headline {
        margin-bottom: $spacing-default * 2;
    }

    &__wrapper-options {
        background-color: $color-grey;
        display: inline-block;
        padding: $spacing-default $spacing-default * 3;
        margin: 0 auto $spacing-default;
        border-radius: $radius-oval;
        display: table;
        color: $color-white;
    }

    &__value-of-options {
        display: inline-block;
        margin: 0 $spacing-default;
    }
}