/*------------------------------------*\
  #PROJECT VARIABLES
\*------------------------------------*/

// Colors
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #424242;

$text-default-color: $color-grey-dark;

// Fonts
$font-family: "Roboto", Arial, sans-serif;

// Font
$font-size-large: 26px;
$font-size-base: 14px;
$font-size-small: 13px;

$font-light: 300;
$font-regular: 400;
$font-black: 900;

// Spacing
$spacing-default: 8px;

// Paddings
$padding-default: 5%;

// Heights
$header-height: $spacing-default * 10;

//Transition
$transition-default: all 300ms ease;

// Breakpoints
$mq-breakpoints: (mobile: 320px, tablet: 740px, desktop: 980px, wide: 1300px);

// Shadows
$shadow-default: 1px 4px 5px rgba($color-grey-dark, 0.3);
