/*------------------------------------*\
  #PROJECT VARIABLES
\*------------------------------------*/

// Colors 
$color-white: #fff;
$color-black: #000;
$color-grey: #5b5d67;
$color-grey-light: #c0c1c9;
$color-grey-lighter: #f3f4fb;

$color-primary: #6c64ff;
$color-secondary: #2dd898;

$text-default-color: $color-grey;

// Fonts
$font-family: "Roboto", sans-serif;

$font-size-base: 12px;

$font-size-h1: 36px;
$font-size-h2: 24px;
$font-size-h3: 20px;
$font-size-h4: 16px;

$font-size-milli: 11px;
$font-size-micro: 10px;
$font-size-nano: 9px;

$font-regular: 400;
$font-medium: 500;

// Fonts color
$color-font-paragraph: rgba($color-grey, 0.55);

// line-height
$line-height-default: 1.5;
$line-height-bigger: 2;

// Paths
$path-images: '../assets/images';

// Spacing
$spacing-default: 10px;

// Paddings
$padding-default: $spacing-default * 2;

// Heights
$header-height: $spacing-default * 10;

// Transition
$transition-default: all 300ms ease;

// Radius
$radius-default: 5px;
$radius-small: 3px;
$radius-oval: 50px;

// Breakpoints
$mq-breakpoints: (mobile: 320px, tablet: 740px, desktop: 980px, wide: 1300px);

// Shadows
$shadow-default: 0 9px 20px rgba($color-black, 0.1);

// Gradients
$color-gradient-start: #7d1aff;
$color-gradient-stop: $color-primary;
$gradient-default: linear-gradient(to top, $color-gradient-start 0%, $color-gradient-stop 100%);
