@import "./assets/styles/1_settings/settings-font";
@import "./assets/styles/1_settings/all";
@import "./assets/styles/2_tools/all";
@import "./assets/styles/3_generic/all";
@import "./assets/styles/5_objects/objects-main";
@import "./assets/styles/7_utilities/all";

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $body-color;
  animation: show-body 200ms;
}

.o-app {
  height: 100%;
  opacity: 1;
  transition: all 200ms ease-in-out;
}

@keyframes show-body {
  0%   { background-color: transparent; }
  100% { background-color: $body-color; }
}