@import "assets/styles/1_settings/settings-project";
@import "assets/styles/2_tools/tools-mq";
@import "assets/styles/4_elements/elements-html";
@import "assets/styles/4_elements/elements-heading";

.c-product-row {

    $c: &;

    padding: $spacing-default * 3/2 $spacing-default * 2 $spacing-default * 2 $spacing-default * 2;
    cursor: pointer;
    transition: $transition-default;
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        background: $gradient-default;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        opacity: 0;
        transition: $transition-default;
    }

    &:hover,
    &--checked {

        &:before {
            opacity: 1;
        }
    }

    &__wrapper-headline {
        display: flex;
        justify-content: space-between;
    }

    &__headline {
        font-weight: $font-regular;
        margin-bottom: $spacing-default * 7/10;
        font-weight: $font-medium;
        color: $color-grey;

        #{$c}:hover &,
        #{$c}--checked & {
            position: relative;
            color: $color-white;
            font-weight: $font-medium;
        }
    }

    &__describe {
        color: $color-font-paragraph;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        margin-bottom: $spacing-default;

        &--all-decribe {
            white-space: unset;
        }

        #{$c}:hover &,
        #{$c}--checked & {
            position: relative;
            color: $color-white;
        }
    }

    &__fund-value {
        color: rgba($color-grey, 0.4);
        font-weight: $font-medium;
        font-size: $font-size-micro;
        position: absolute;
        right: $spacing-default * 3/2;
        top: $spacing-default * 3/2;

        #{$c}:hover &,
        #{$c}--checked & {
            color: $color-white;
        }
    }

    &__describe-fund-value {
        color: $color-secondary;
        font-weight: $font-regular;
    }

    &__icon {
        margin-left: $spacing-default / 2;
        position: relative;
        top: $spacing-default * 1/10;
    }

    &__pikto-bg {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.1;
        width: 100%;
    }

    &__labels {
        position: relative;
    }
}