@import "../../assets/styles/1_settings/settings-project";

.c-input-range {
  $c: &;
  display: flex;
  align-items: center;
  padding-top: $spacing-default;

  &__range {
    flex: 2;
    margin-right: $spacing-default * 2;
    -webkit-appearance: none;
    width: 100%;
    height: $spacing-default;
    border-radius: $spacing-default / 2;
    background: #E4E4E4;
    outline: none;


    &::-webkit-slider-runnable-track {
      height: $spacing-default;
      -webkit-appearance: none;
      color: #e4e4e4;
    }

    &::-webkit-slider-thumb {
      margin-top: $spacing-default * -1;
      -webkit-appearance: none;
      appearance: none;
      width: $spacing-default * 3;
      height: $spacing-default * 3;
      border-radius: 50%;
      background: #000;
      cursor: pointer;
    }
  }

  &__input {
    flex: 1;
  }

  &__symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color-grey, 0.3);
    height: $spacing-default * 3;
    min-width: $spacing-default * 3;
    padding: 0 $spacing-default / 2;
  }
}
