@import "../../assets/styles/1_settings/settings-project";

.c-input-range {
  $c: &;
  display: flex;
  flex-direction: column;

  &__wrapper-value {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-bottom: $spacing-default * 2;
    overflow: hidden;
  }

  &__range {
    flex: 2;
    margin-right: $spacing-default * 2;
    -webkit-appearance: none;
    width: 100%;
    height: $spacing-default * 6/10;
    border-radius: $spacing-default / 2;
    background: $color-grey-lighter;
    outline: none;


    &::-webkit-slider-runnable-track {
      height: inherit;
      -webkit-appearance: none;
      color: $color-grey-lighter;
    }

    &::-webkit-slider-thumb {
      margin-top: -$spacing-default * 1/10;
      -webkit-appearance: none;
      appearance: none;
      width: $spacing-default * 2;
      height: $spacing-default * 2;
      border-radius: 50%;
      background: $color-primary;
      cursor: pointer;
      box-shadow: $shadow-primary;
    }
  }

  &__value-of-range {
    font-size: $font-size-h1;
    font-weight: $font-medium;
  }

  &__symbol {
    position: relative;
    top: $spacing-default * 8/10;
    padding: 0 $spacing-default / 2;
  }
}
