@import "assets/styles/1_settings/settings-project";
@import "assets/styles/2_tools/tools-mq";

.c-confirmation-modal {
  
    &__box {
        width: 100%;
    }

    &__headline {
        font-weight: $font-medium;
        margin-bottom: $spacing-default / 2;
    }

    &__introduction {
        opacity: 0.7;
    }

    &__wrapper-item-value {
        display: flex;
        flex-direction: column;

        @include mq($until: mobileLandscape) {
            margin-bottom: $spacing-default;
        }
    }

    &__value {
        font-size: $font-size-h1;
        font-weight: $font-medium;

        @include mq($until: tablet) {
            font-size: $font-size-h2;
        }
    }

    &__unit {
        font-size: $font-size-h3;
        text-transform: uppercase;
        margin-left: $spacing-default;
    }

    &__label {
        font-size: $font-size-base;
        opacity: 0.7;
    }

    &__wrapper-row {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: $spacing-default * 7;
        margin-top: $spacing-default * 3;

        @include mq($until: mobileLandscape) {
            flex-direction: column;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: $color-white;
        height: $spacing-default * 7;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    &__spinner {
        text-align: center;
    }

    &__pikto-bg {
        position: absolute;
        top: -$spacing-default * 10;
        left: 0;
        opacity: 0.1;
        width: 100%;
    }
}