@import "assets/styles/1_settings/settings-project";
@import "assets/styles/2_tools/tools-paddings";
@import "assets/styles/2_tools/tools-mq";

.c-navbar {

    $c: &;
    
    @include globalPadding;

    display: flex;
    justify-content: space-between;
    margin-top: $spacing-default * 2;
    margin-bottom: $spacing-default * 4;

    &__logo-link {}

    &__wrapper {
        display: flex;

        #{$c}--show-mobile-menu & {
            display: flex;
            flex-direction: column;
        }

        @include mq($until: tablet) {
            display: none;
        }
    }

    &__item {
        margin-left: $spacing-default;
    }

    &__link {

        &--active {}

    }

    &__add-free-tokens {}

    &__toggle {
        background-color: transparent;
        display: block;
        width: $spacing-default * 2;
        height: $spacing-default * 2;
        position: relative;
        cursor: pointer;
        box-shadow: inset 0px 2px 0 0 $color-grey-dark;
        transition: $transition-default;

        #{$c}--show-mobile-menu & {
            box-shadow: inset 0px 2px 0 0 transparent;
        }

        &:before,
        &:after {
            width: $spacing-default * 2;
            height: $spacing-default / 4; 
            background-color: $color-grey-dark;
            position: absolute;
            left: 0;
            transition: $transition-default;
        }

        &:before {
            content: "";
            top: $spacing-default / 2;
            transform-origin: center;  

            #{$c}--show-mobile-menu & {
                transform: rotate(-45deg);
            } 
        }

        &:after {
            content: "";
            top: $spacing-default + 1;
            transform-origin: center;  

            #{$c}--show-mobile-menu & {
                transform: rotate(45deg);
                top: $spacing-default / 2; 
            }         
        }

        @include mq($from: tablet) {
            display: none;
        }
    }
}