@import "assets/styles/1_settings/settings-project";
@import "assets/styles/2_tools/tools-paddings";
@import "assets/styles/2_tools/tools-mq";
@import "assets/styles/2_tools/tools-boxes";

.v-onboarding {

    $c: &;

    @include globalPadding;

    display: flex;
    flex-direction: column;

    &--fullpage {
        max-width: 100%;
        min-height: 100vh;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
        background: $gradient-default;
        overflow: hidden;
    }

    &__box-content {

        @include boxContent(true);
        position: relative;
        top: $spacing-default * 20;
        margin-bottom: $padding-default;
    }

    &__benefits-slide {
        text-align: center;
    }

    &__benefits-slide,
    &__create-portfolio-first-step-slide {
        margin-bottom: $spacing-default * 4;
    }

    &__section {
        margin-bottom: $spacing-default * 4;
        position: relative;

        &--last {
            margin-bottom: unset;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__section-title {
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        top: 0;
        max-width: $spacing-default * 13;

        #{$c}__section--inline & {
            flex: 2;
            margin-right: $spacing-default * 2;
        }
    }

    &__headline {
        margin-bottom: $spacing-default * 4;

        &--icon {
            margin-bottom: $spacing-default;
        }
    }

    &__icon {
        margin-bottom: $spacing-default;

        &--info {
            width: $spacing-default * 9/10;
            height: $spacing-default * 9/10;
        }
    }

    &__logo {
        margin-bottom: $spacing-default * 4;
    }

    &__btn {
        margin: ($spacing-default * 2) auto 0;
        width: 100%;
        display: block;
        text-align: center;

        @include mq($from: tablet) {
            width: $spacing-default * 20;
        }

        #{$c}__s1 & {
            min-width: 320px;

            @include mq($until: tablet) {
                min-width: 0;
                padding-left: $spacing-default;
                padding-right: $spacing-default;
            }
        }
    }

    &__btn-blue {
        cursor: default;
    }

    &__btn-blue-1 {

        #{$c}__btn-blue:hover & {
            display: none;
        }
    }

    &__btn-blue-2 {

        #{$c}__btn-blue & {
            display: none;
        }
        #{$c}__btn-blue:hover & {
            display: inline;
        }
    }

    &__currency {
        margin-right: $spacing-default;
    }

    &__wrapper-inputs {
        display: flex;
        align-items: flex-end;
        margin-top: $spacing-default;

        &--align-center {
            align-items: center;
        }
    }

    &__wrapper-input {
        width: 50%;
        display: flex;
        align-items: center
    }

    &__input-range {
        width: 100%;
    }

    &__wrapper-age-inputs {
        display: flex;
        margin-top: $spacing-default * 5;
    }

    &__wrapper-range {
        width: 100%;
        margin-right: $spacing-default * 2;
    }

    &__wrapper-age-input {
        width: 50%;
        text-align: center;

        &:first-child {
            border-right: 1px solid $color-grey-lighter;
        }
    }

    &__input {
        width: 100%;
    }

    &__wrapper-final-values {
        display: flex;
        padding: $spacing-default * 3 $spacing-default * 2 0;
        flex-direction: column;
        margin-bottom: $spacing-default * 3;
        background: $gradient-default;
        color: $color-white;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: $spacing-default * 28;
    }

    &__wrapper-final-value {
        display: flex;
        align-items: baseline;
    }

    &__describe-value {
        font-weight: $font-medium;
        margin-bottom: $spacing-default * 3;
    }

    &__describe-value,
    &__wrapper-final-value {
        flex: 1 0 0;
    }

    &__value {
        font-size: $font-size-xxl;
        font-weight: $font-medium;

        &--smaller {
            font-size: $spacing-default * 3;
        }
    }

    &__period {
        margin-left: $spacing-default / 2;
        font-size: $font-size-h2;
    }

    &__final-value-currency {
        margin-right: $spacing-default;
        font-size: $font-size-h2;

        &--message {
            text-align: center;
            font-size: $font-size-h3;
        }
    }

    &__wrapper-final-value-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: baseline;
        margin-bottom: $spacing-default * 2;
        align-items: center;
    }

    &__correct-basics {
        text-decoration: underline;
        font-size: $spacing-default * 2;
        margin-bottom: $spacing-default * 2;
        display: inline-block;
    }

    &__symbol {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color-grey, 0.3);
        height: $spacing-default * 3;
        min-width: $spacing-default * 3;
        padding: 0 $spacing-default / 2;
    }

    &__input {

        #{$c}__section--inline & {
            flex: 1;
        }
    }

    &__pikto-bg {
        position: absolute;
        top: -$spacing-default * 10;
        left: 0;
        opacity: 0.1;
        width: 100%;
    }

    @for $i from 0 through 3 {

        #Polygon#{$i} {
            opacity: 0;
            animation: bgAnimation 4s 200ms * $i ease-out infinite;
        }
    }

    @keyframes bgAnimation {
        0% {
            opacity: 0;
            transform: translateY($spacing-default * 40);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: translateY(0);
        }
    }

    &__s1 {
        margin: 0 auto;
        text-align: center;
        padding: $spacing-default * 3;
    }

    &__s1-logo {
        position: relative;
        margin-bottom: $spacing-default * 5;
    }

    &__s1-logo-svg {
        width: $spacing-default * 8;
        z-index: 2;
    }

    &__s1-logo-bg {
        position: absolute;
        width: 500px;
        height: 500px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, calc(-50% - 20px));
        opacity: .15;
        z-index: 1;
    }

    &__s1-section {
        color: $color-white;
        margin-bottom: $spacing-default * 3;

        &:last-of-type {
            margin-bottom: $spacing-default * 6;
        }
    }

    &__s1-section-title {
        font-size: 16px;
    }

    &__s1-section-desc {
        font-size: 12px;
        max-width: 250px;
        margin: 0 auto;
        opacity: .5;
    }
}
